In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('sales_df.csv')

/var/folders/3k/kd9rcxws7ygft2krzxncw_400000gn/T/ipykernel_1359/762810495.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('sales_df.csv')

In [3]:
data

,Unnamed: 0,item_id,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
0,0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,3.520026e+10,3.520026e+10
1,1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,3.520026e+10,3.520026e+10
2,2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,3.520026e+10,3.520026e+10
3,3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,3.520026e+10,3.520026e+10
4,4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,3.520026e+10,3.520026e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,8503 NW Military Hwy,San Antonio,TX,78231,NaN,NaN,NaN,NaN,NaN
912996,912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,8503 NW Military Hwy,San Antonio,TX,78231,NaN,NaN,NaN,NaN,NaN
912997,912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,8503 NW Military Hwy,San Antonio,TX,78231,NaN,NaN,NaN,NaN,NaN
912998,912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,8503 NW Military Hwy,San Antonio,TX,78231,NaN,NaN,NaN,NaN,NaN
912999,912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,8503 NW Military Hwy,San Antonio,TX,78231,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     913000 non-null  int64
 1   item_id        913000 non-null  int64
 2   sale_amount    913000 non-null  float64
 3   sale_date      913000 non-null  object
 4   sale_id        913000 non-null  int64
 5   store_id       913000 non-null  int64
 6   store_address  913000 non-null  object
 7   store_city     913000 non-null  object
 8   store_state    913000 non-null  object
 9   store_zipcode  913000 non-null  int64
 10  item_brand     365200 non-null  object
 11  item_name      365200 non-null  object
 12  item_price     365200 non-null  float64
 13  item_upc12     365200 non-null  float64
 14  item_upc14     365200 non-null  float64
dtypes: float64(4), int64(5), object(6)
memory usage: 104.5+ MB

In [6]:
data=data.drop(columns=['Unnamed: 0'])